In [1]:
import pandas as pd
import numpy as np
import sys
import os
from tqdm import tqdm

# Get the current working directory
current_directory = os.getcwd()

# Get the parent directory
parent_directory = os.path.dirname(current_directory)


# Add the parent directory to the system path
sys.path.append(parent_directory)

from Configuration import Config
cfg = Config()

In [2]:
def findETF(data,stock):
    """
    reading a file containing information on stock memberships
    input: stock ticker
    output: corresponding ETF ticker
    """
    try:
        out = np.array(data['ticker_y'][data['ticker_x'] == stock])[0]
    except:
        out = None
    return out

# find all the stocks that are in the ETF

def findStocks(data,etf):
    """
    reading a file containing information on stock memberships
    input: ETF ticker
    output: corresponding stock tickers
    """
    out = np.array(data['ticker_x'][data['ticker_y'] == etf])
    return out

In [3]:
etfinfo = pd.read_csv(cfg.etflistloc)
etfinfo

tickers = cfg.tickers
stocks_list = [ticker for ticker in tickers if ticker[0] != 'X']
etfs_list = [ticker for ticker in tickers if ticker[0] == 'X']

print(stocks_list)
print(etfs_list)

stocks_required = []

for stocks in stocks_list:
    etf = findETF(etfinfo,stocks)
    stocks_in_etf = findStocks(etfinfo,etf)
    stocks_required.extend(stocks_in_etf)
print(stocks_required)

for etfs in etfs_list:
    stocks_in_etf = findStocks(etfinfo,etfs)
    stocks_required.extend(stocks_in_etf)

# print all the csv files that are present in cfg.dataloc directory without their extension
files = os.listdir(cfg.dataloc)
csv_files = [os.path.splitext(file)[0] for file in files if file.endswith('.csv')]
print(csv_files)

# Convert the lists to sets
stocks_required_set = set(stocks_required)
csv_files_set = set(csv_files)

# Find the stocks that are in stocks_required but not in csv_files
missing_stocks = stocks_required_set - csv_files_set

# Convert the set back to a list
missing_stocks_list = list(missing_stocks)

print(missing_stocks_list)

['AMZN', 'AZO']
['XLY', 'XLF']
['AMZN', 'AZO', 'BBY', 'BWA', 'CCL', 'DHI', 'DRI', 'DLTR', 'EBAY', 'F', 'GPC', 'HAS', 'HD', 'LOW', 'MAR', 'MCD', 'MHK', 'NWL', 'NKE', 'NVR', 'ORLY', 'PENN', 'POOL', 'PHM', 'PVH', 'RL', 'ROST', 'RCL', 'SBUX', 'TJX', 'TSCO', 'VFC', 'WHR', 'YUM', 'AMZN', 'AZO', 'BBY', 'BWA', 'CCL', 'DHI', 'DRI', 'DLTR', 'EBAY', 'F', 'GPC', 'HAS', 'HD', 'LOW', 'MAR', 'MCD', 'MHK', 'NWL', 'NKE', 'NVR', 'ORLY', 'PENN', 'POOL', 'PHM', 'PVH', 'RL', 'ROST', 'RCL', 'SBUX', 'TJX', 'TSCO', 'VFC', 'WHR', 'YUM']
['AZO', 'AMZN']
['GPC', 'NTRS', 'PNC', 'CMA', 'ZION', 'BWA', 'FITB', 'HD', 'LOW', 'RCL', 'DRI', 'AFL', 'RJF', 'HAS', 'PHM', 'BEN', 'TJX', 'POOL', 'ALL', 'PGR', 'PVH', 'WHR', 'F', 'ORLY', 'MCD', 'MMC', 'NWL', 'CCL', 'MHK', 'WFC', 'KEY', 'STT', 'FDS', 'NKE', 'GS', 'COF', 'NVR', 'BBY', 'ROST', 'RL', 'BRO', 'EBAY', 'BAC', 'TSCO', 'BLK', 'C', 'TROW', 'MAR', 'SBUX', 'PENN', 'HIG', 'USB', 'DHI', 'YUM', 'CINF', 'HBAN', 'AIG', 'SIVB', 'MTB', 'VFC', 'AJG', 'RE', 'BK', 'AXP', 'DLTR', 'LNC']

In [4]:
stocks_data = pd.read_csv(cfg.rawstocksloc)
stocks_data['date_dt'] = pd.to_datetime(stocks_data['date'])
stocks_data['AdjClose'] = stocks_data['PRC'] / stocks_data['CFACPR']
stocks_data['AdjOpen'] = stocks_data['OPENPRC'] / stocks_data['CFACPR']

#filter date after 1999
stocks_data = stocks_data[stocks_data['date_dt'] > cfg.start_date]

stocks_data.head()

/tmp/ipykernel_487195/2190176681.py:1: DtypeWarning: Columns (2,6,9,18,19,22,24,49,57) have mixed types. Specify dtype option on import or set low_memory=False.
  stocks_data = pd.read_csv(cfg.rawstocksloc)

,PERMNO,date,NAMEENDT,SHRCD,EXCHCD,SICCD,NCUSIP,TICKER,COMNAM,SHRCLS,...,NUMTRD,RETX,vwretd,vwretx,ewretd,ewretx,sprtrn,date_dt,AdjClose,AdjOpen
2528,10104,2000-01-03,NaN,11.0,3.0,7370.0,68389X10,ORCL,ORACLE CORP,NaN,...,38710.0,0.054099,-0.006803,-0.006810,0.002878,0.002860,-0.009549,2000-01-03,29.531250,31.156250
2529,10104,2000-01-04,NaN,11.0,3.0,7370.0,68389X10,ORCL,ORACLE CORP,NaN,...,50279.0,-0.08836,-0.039652,-0.039679,-0.017465,-0.017486,-0.038345,2000-01-04,26.921875,28.875000
2530,10104,2000-01-05,NaN,11.0,3.0,7370.0,68389X10,ORCL,ORACLE CORP,NaN,...,60672.0,-0.052815,-0.000935,-0.001009,0.007821,0.007743,0.001922,2000-01-05,25.500000,25.406250
2531,10104,2000-01-06,NaN,11.0,3.0,7370.0,68389X10,ORCL,ORACLE CORP,NaN,...,45177.0,-0.058824,-0.007391,-0.007547,0.004504,0.004453,0.000956,2000-01-06,24.000000,25.039062
2532,10104,2000-01-07,NaN,11.0,3.0,7370.0,68389X10,ORCL,ORACLE CORP,NaN,...,37044.0,0.076823,0.032516,0.032514,0.017008,0.016991,0.027090,2000-01-07,25.843750,23.750000

In [5]:
etfs_data = pd.read_csv(cfg.rawetfsloc)
etfs_data['date_dt'] = pd.to_datetime(etfs_data['date'])
etfs_data['AdjClose'] = etfs_data['PRC'] / etfs_data['CFACPR']
etfs_data['AdjOpen'] = etfs_data['OPENPRC'] / etfs_data['CFACPR']

#filter date after 1999
etfs_data = etfs_data[etfs_data['date_dt'] > cfg.start_date]

etfs_data.head()

/tmp/ipykernel_487195/2545204343.py:2: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  etfs_data['date_dt'] = pd.to_datetime(etfs_data['date'])

,Unnamed: 0,PERMNO,date,NAMEENDT,SHRCD,EXCHCD,SICCD,NCUSIP,TICKER,COMNAM,...,NUMTRD,RETX,vwretd,vwretx,ewretd,ewretx,sprtrn,date_dt,AdjClose,AdjOpen
259,178435,86449,03/01/2000,NaN,73,2,6726,81369Y10,XLB,SELECT SECTOR SPDR TRUST,...,NaN,-0.022928,-0.006803,-0.006810,0.002878,0.002860,-0.009549,2000-01-03,25.96875,26.67188
260,178436,86449,04/01/2000,NaN,73,2,6726,81369Y10,XLB,SELECT SECTOR SPDR TRUST,...,NaN,-0.009627,-0.039652,-0.039679,-0.017465,-0.017486,-0.038345,2000-01-04,25.71875,26.00000
261,178437,86449,05/01/2000,NaN,73,2,6726,81369Y10,XLB,SELECT SECTOR SPDR TRUST,...,NaN,0.041312,-0.000935,-0.001009,0.007821,0.007743,0.001922,2000-01-05,26.78125,26.01563
262,178438,86449,06/01/2000,NaN,73,2,6726,81369Y10,XLB,SELECT SECTOR SPDR TRUST,...,NaN,0.025671,-0.007391,-0.007547,0.004504,0.004453,0.000956,2000-01-06,27.46875,26.79688
263,178439,86449,07/01/2000,NaN,73,2,6726,81369Y10,XLB,SELECT SECTOR SPDR TRUST,...,NaN,-0.000569,0.032516,0.032514,0.017008,0.016991,0.027090,2000-01-07,27.45313,27.75000

In [7]:

for i in range(len(stocks_list)):
    stock = stocks_list[i]

    # find the corresponding ETF
    ETF = findETF(etfinfo,stock)
    print(ETF)

    # find all the stocks in the ETF
    stocks_in_etf = findStocks(etfinfo,ETF)
    print(stocks_in_etf)

    for etf_stock in tqdm(stocks_in_etf):
        stock_df = stocks_data[stocks_data.TICKER == etf_stock].copy().reset_index(drop=True)
        # print(stock_df)
    # stock_df = data_Tickers[data_Tickers.TICKER == stock].copy().reset_index(drop=True)

    # display(stock_df)

XLY
['AMZN' 'AZO' 'BBY' 'BWA' 'CCL' 'DHI' 'DRI' 'DLTR' 'EBAY' 'F' 'GPC' 'HAS'
 'HD' 'LOW' 'MAR' 'MCD' 'MHK' 'NWL' 'NKE' 'NVR' 'ORLY' 'PENN' 'POOL' 'PHM'
 'PVH' 'RL' 'ROST' 'RCL' 'SBUX' 'TJX' 'TSCO' 'VFC' 'WHR' 'YUM']

100%|██████████| 34/34 [00:03<00:00,  9.46it/s]

XLY
['AMZN' 'AZO' 'BBY' 'BWA' 'CCL' 'DHI' 'DRI' 'DLTR' 'EBAY' 'F' 'GPC' 'HAS'
 'HD' 'LOW' 'MAR' 'MCD' 'MHK' 'NWL' 'NKE' 'NVR' 'ORLY' 'PENN' 'POOL' 'PHM'
 'PVH' 'RL' 'ROST' 'RCL' 'SBUX' 'TJX' 'TSCO' 'VFC' 'WHR' 'YUM']

100%|██████████| 34/34 [00:03<00:00,  9.79it/s]

In [8]:
etf_df = etfs_data[etfs_data.TICKER == 'XLY'].copy().reset_index(drop=True)
etf_df

,Unnamed: 0,PERMNO,date,NAMEENDT,SHRCD,EXCHCD,SICCD,NCUSIP,TICKER,COMNAM,...,NUMTRD,RETX,vwretd,vwretx,ewretd,ewretx,sprtrn,date_dt,AdjClose,AdjOpen
0,197323,86453,03/01/2000,NaN,73,2,6726,81369Y40,XLY,SELECT SECTOR SPDR TRUST,...,NaN,-0.030181,-0.006803,-0.006810,0.002878,0.002860,-0.009549,2000-01-03,30.12500,31.00000
1,197324,86453,04/01/2000,NaN,73,2,6726,81369Y40,XLY,SELECT SECTOR SPDR TRUST,...,NaN,-0.030083,-0.039652,-0.039679,-0.017465,-0.017486,-0.038345,2000-01-04,29.21875,29.68750
2,197325,86453,05/01/2000,NaN,73,2,6726,81369Y40,XLY,SELECT SECTOR SPDR TRUST,...,NaN,-0.012299,-0.000935,-0.001009,0.007821,0.007743,0.001922,2000-01-05,28.85938,29.34375
3,197326,86453,06/01/2000,NaN,73,2,6726,81369Y40,XLY,SELECT SECTOR SPDR TRUST,...,NaN,0.011370,-0.007391,-0.007547,0.004504,0.004453,0.000956,2000-01-06,29.18750,29.04688
4,197327,86453,07/01/2000,NaN,73,2,6726,81369Y40,XLY,SELECT SECTOR SPDR TRUST,...,NaN,0.047109,0.032516,0.032514,0.017008,0.016991,0.027090,2000-01-07,30.56250,29.50000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6032,203355,86453,22/12/2023,NaN,73,4,6726,81369Y40,XLY,SELECT SECTOR SPDR TRUST,...,NaN,-0.007356,0.002440,0.002372,0.007676,0.007387,0.001660,2023-12-22,179.48000,180.09000
6033,203356,86453,26/12/2023,NaN,73,4,6726,81369Y40,XLY,SELECT SECTOR SPDR TRUST,...,NaN,0.004235,0.005218,0.005199,0.009674,0.009299,0.004232,2023-12-26,180.24001,179.88000
6034,203357,86453,27/12/2023,NaN,73,4,6726,81369Y40,XLY,SELECT SECTOR SPDR TRUST,...,NaN,0.003440,0.001995,0.001807,0.005276,0.004907,0.001430,2023-12-27,180.86000,180.47000
6035,203358,86453,28/12/2023,NaN,73,4,6726,81369Y40,XLY,SELECT SECTOR SPDR TRUST,...,NaN,-0.005197,-0.000108,-0.000295,0.002042,0.001428,0.000370,2023-12-28,179.92000,181.12000
6036,203359,86453,29/12/2023,NaN,73,4,6726,81369Y40,XLY,SELECT SECTOR SPDR TRUST,...,NaN,-0.006169,-0.004045,-0.004084,-0.007480,-0.007546,-0.002826,2023-12-29,178.81000,179.99001